@model SaaS_RMS.Models.Entities.Customer.Customer

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .pad {
        padding-top: 20px;
    }

    .morepadding {
        padding-top: 10px;
    }

    .back {
        background-color: black
    }
</style>

<div class="contact_container container morepadding" >
    <h2>Welcome</h2>
    
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4">
            <h4>
                A matrix organizational structure combines the efficiency
                of the functionally organized company with the flexibility of
                extensive local operations. Foreign workers report to local
                managers for questions about their work, while they report to
                the head office for all other functions.
            </h4>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-2">
            <h4>
                A matrix organizational structure combines the efficiency
                of the functionally organized company with the flexibility of
                extensive local operations. Foreign workers report to local
                managers for questions about their work, while they report to
                the head office for all other functions. The home organization
                retains control of disciplinary matters, pay and promotions,
                while the employees carry out the work according to local requirements.
                This is a suitable organizational form for smaller companies active in
                only one or two foreign markets, but it is mainly used by larger
                corporations who have extensive foreign operations.
            </h4>
        </div>
    </div>
    
</div>


