@model SaaS_RMS.Models.Entities.Customer.Customer

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .pad {
        padding-top: 20px;
    }

    .morepadding {
        padding-top: 20px;
    }

    .back {
        background-color: black
    }
</style>

<div class="morepadding">
    <form asp-action="Register" class="form-horizontal form-label-left ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container contact_container">

            <div class="row">
                <div class=" col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr />
                    <h2><strong>REGISTER AS A CUSTOMER</strong></h2>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                    <input asp-for="FirstName" id="input_FirstName" class="form-control form_input input_message input_ph" placeholder="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="LastName" id="input_LastName" class="form-control form_input input_message input_ph" placeholder="LasttName" />
                    <span asp-validation-for="LastName" class="text-danger "></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-ms-6 ">
                    @if (ViewData["doubleemail"] != null && Convert.ToString(ViewData["doubleemail"]) != " ")
                    {
                        <h5 style="padding-left:1em;" class="text-danger">@ViewData["doubleemail"]</h5>
                    }
                    <input asp-for="Email" id="input_Email" class="form-control form_input input_message input_ph" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger "></span>
                </div>
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="PhoneNumber" id="input_PhoneNumber" class="form-control form_input input_message input_ph" placeholder="Phone Number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger "></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="Password" id="input_Password" class="form-control form_input input_message input_ph" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger "></span>
                </div>
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="ConfirmPassword" id="input_ConfirmPassword" class="form-control form_input input_message input_ph" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger "></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-ms-12 form-group">
                    <input type="submit" value="Register" class="btn btn-primary pull-right" />
                </div>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
