@model SaaS_RMS.Models.Enities.Landing.LandingInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3><strong> EDIT LANDING INFORMATION </strong></h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <input type="hidden" asp-for="LandingInfoId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label asp-for="Approval"></label>
                            </div>
                            <div class="col-md-10">
                                <select asp-for="Approval" asp-items="ViewBag.Approval" class="form-control "></select>
                                <span asp-validation-for="Approval" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label asp-for="AboutUs"></label>
                            </div>
                            <div class="col-md-10">
                                <textarea asp-for="AboutUs" class="form-control "></textarea>
                                <span asp-validation-for="AboutUs" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label asp-for="Offers"></label>
                            </div>
                            <div class="col-md-10">
                                <textarea asp-for="Offers" class="form-control "></textarea>
                                <span asp-validation-for="Offers" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label asp-for="Image"></label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="file" name="file" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <input type="hidden" value="blank" asp-for="Image" />
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-danger" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}