@model SaaS_RMS.Models.Entities.Landing.LandingInfo

@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<div class="form-horizontal form-label-left">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="main_slider" style="background-image: url('/uploadsLogo/@Html.DisplayFor(model => model.Image)'); ">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="container">
                    <h1 class="text_center">
                        Order delicious food online!
                    </h1>
                    <h3 class="text_center">
                        Discover local restaurants that deliver to your doorstep
                    </h3>
                    <div class="Myjumbotron row">
                        <div class="col-md-4 pad">
                            <select class="form-control" style="height:49px;" asp-items="ViewBag.StateId" id="state"></select>
                        </div>
                        <div class="col-md-4 pad">
                            <select class="form-control" style="height:49px;" id="lga"></select>
                        </div>
                        <div class="col-md-4 pad">
                            <button id="findR" class="btn btn-lg btn-block btn-primary">FIND RESTAURANTS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Restaurants -->
<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>View Restaurants</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="restaurants_list">
                <div class="product-grid" data-isotope='{ "layoutMode": "fitRows" }'>



                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Landing/js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#state').val() != '') {
                getLGAs();
            }

            $('#state').on('input', function () {
                getLGAs();
            });

            $('#findR').on('click', function () {
                if ($('#lga').val() != '') {
                    GetAllRestaurantsWithLGA($('#lga').val());
                }
            })

            function getLGAs() {
                $('#lga').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetLgasForState',
                    dataType: 'json',
                    data: { id: $('#state').val() },
                    success: function (lga) {
                        console.log(lga);
                        $.each(lga, function (i, lga) {
                            var val = '<option value="' + lga.lgaId + '">' + lga.name + '</option><button> Find Restaurant </button> '
                            $('#lga').append(val);
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            function GetAllRestaurantsWithLGA (id) {
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetAllRestaurantsWithLGA',
                    data: { id: id },
                    async: true,
                    success: function (data) {
                        $('#restaurants_list').children("div").remove();
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            var restaurant = '<div class="product-item"><div class="product discount product_filter"><div class="product_image">' +
                                '<img src="/uploadsLogo/' + data[i].logo + '.jpg" alt=""></div><div class="favorite favorite_left"></div><div class="product_info">' +
                                '<h6 class="product_name"><a href="@Url.Action("Dashboard", "Restaurants")">' + data[i].name + '</a></h6>' +
                                '<div class="product_price">' + data[i].motto + '<span></span></div></div></div>' +
                                '<div class="btn red_button add_to_cart_button" style="width: 13.8em"><a href="/Restaurants/Dashboard?id=' + data[i].restaurantId + '">Visit </a></div></div>'
                            $('#restaurants_list').append(restaurant);
                        }
                    }
                });
            }
        });
    </script>
}