@model SaaS_RMS.Models.Entities.Landing.LandingInfo

@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .text_center {
        text-align: center;
        color: orangered;
    }

    .select_height {
        height: 150px;
    }

    .fill_restaurant_height {
        height: 70%;
    }

    .Myjumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        opacity: 0.5;
        border-radius: .3rem
    }

        .Myjumbotron:hover {
            opacity: 1;
        }

    .pad {
        padding-top: 8px;
    }
</style>

<form asp-action="GetRestaurant" class="form-horizontal form-label-left">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="main_slider" style="background-image: url('/uploadsLogo/@Html.DisplayFor(model => model.Image)'); ">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="container">
                    <h1 class="text_center">
                        Order delicious food online!
                    </h1>
                    <h3 class="text_center">
                        Discover local restaurants that deliver to your doorstep
                    </h3>
                    <div class="Myjumbotron row">
                        <div class="col-md-4 pad">
                            <select class="form-control" style="height:49px;" asp-items="ViewBag.StateId" id="state"></select>
                            <p>@ViewBag.Me</p>
                        </div>
                        <div class="col-md-4 pad">
                            <select class="form-control" style="height:49px;" id="lga"></select>
                        </div>
                        <div class="col-md-4 pad">
                            <input type="submit" value="FIND RESTAURANTS" class="btn btn-lg btn-block btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Landing/js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#state').val() != '') {
                getLGAs();
            }

            $('#state').on('input', function () {
                getLGAs();
            });

            if ($('#lga').val() != '') {
                getRestaurants();
            }

            $('#lga').on('input', function () {
                getRestaurants();
             });

            function getLGAs() {
                $('#lga').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetLgasForState',
                    dataType: 'json',
                    data: { id: $('#state').val() },
                    success: function (lga) {
                        console.log(lga);
                        $.each(lga, function (i, lga) {
                            $('#lga').append('<option value="' + lga.lgaId + '">' + lga.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

                $('#restaurant').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetAllRestaurantsWithLGA',
                    dataType: 'json',
                    data: { id: $('#lga').val() },
                    success: function (restaurant) {
                        console.log(restaurant);
                        $.each(restaurant, function (i, restaurant) {
                            $(#'restaurant').append('<option value"' + restaurant.RestaurantId + '">' + restaurant.Name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
}
