
@model Tuple<SaaS_RMS.Models.Entities.System.Restaurant, SaaS_RMS.Models.Entities.Landing.LandingInfo>

@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .centerr{
        text-align: center;
        color: orangered;
    }
    .select_height {
        height: 150px;
    }
    .fill_restaurant_height {
        height: 70%;
    }
</style>
<!-- Slider -->

<div class="main_slider" style="background-image: url('/uploadsLogo/@Html.DisplayFor(tuple => tuple.Item2.Image)'); ">
    <div class="container fill_height">
        <div class="row align-items-center fill_restaurant_height">
           
            <div class="container">
                <h1 class="centerr">
                    @Html.DisplayFor(tuple => tuple.Item1.AccessCode)
                    Order delicious food online!

                </h1>
                <h3 class="centerr">
                    Discover local restaurants that deliver to your doorstep
                </h3>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" style="height:49px;" id="lga"></select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" style="height:49px;" id="lga"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="FIND RESTAURANTS" class="btn btn-lg btn-block btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    