@model SaaS_RMS.Models.Entities.Landing.LandingInfo
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .hero-unit {
        background-size: cover;
        height: 470px;
        opacity: .5;
        z-index: 1;
    }

    h1 {
        position: relative;
        top: -350px;
        left: 40px;
        color: #fff;
    }
</style>

<div class="">
    <div class="hero-unit" style="background-image: url('/uploadsLogo/@Html.DisplayFor(model => model.Image)')">
        <div class="container d-flex justify-content-center" style="padding-top: 15em;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/uploadsLogo/@Html.DisplayFor(model => model.Image)" alt="card image cap" />
                <div class="card-body">
                    <div class="card-text">
                        <p>Name: </p>
                        <p> @ViewData["tsting"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>














@*<div class="main_slider" style="height: 350px; width: 1500px; background-image: url('/uploadsLogo/@Html.DisplayFor(model => model.Image)'); ">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="container">
                <h1 class="text_center" style="position: relative">
                    Order delicious food online!
                </h1>
                <h3 class="text_center">
                    Discover local restaurants that deliver to your doorstep
                </h3>
                <div class="Myjumbotron row">
                    
                </div>
            </div>
        </div>
    </div>
</div>*@

