@model IEnumerable<SaaS_RMS.Models.Entities.System.Subscription>
@{
    ViewData["Title"] = "Subscriptions";
    Layout = "~/Views/Shared/SubscriptionLayout/_SubscriptionLayout.cshtml";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <h3 style="font-size:medium; color:red; text-align:center">
                    <strong>
                        Sorry your system has been locked because your subscription has expired. <br />
                        Do view our packages below and select pacakge and subscribe to a plan to continue using this system
                    </strong>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="" role="main">
    <div class="">
        
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                    <div class="x_title">
                        <h2>Pricing Tables Design</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- price element -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    @foreach (var item in Model)
                                    {
                                        <div class="pricing">
                                            <div class="title">
                                                <h2>@Html.DisplayFor(modelItem => item.Duration)</h2>
                                                <h1>N @Html.DisplayFor(modelItem => item.Amount)</h1>
                                            </div>
                                            <div class="x_content">
                                                
                                                <div class="pricing_footer">
                                                    <a class="btn btn-success btn-block" role="button">Subscribe <span> now!!!</span></a>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

