@model SaaS_RMS.Models.Entities.Vendor.CompanyVendor

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/VendorLayout/_VendorLayout.cshtml";
}

<style>
    .centerlizer {
        text-align: center;
    }
</style>

<div class="page-title">
    <div class="title_left">
        <h3><strong> CHANGE PASSWORD </strong></h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form asp-action="ChangePassword" onsubmit="return(validate());" name="myForm" role="form" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CompanyVendorId" />
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="control-label centerlizer col-md-2 col-sm-2">
                                <label class="control-label">New Password</label>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <input asp-for="Password" class="form-control" name="password" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label>Confirm Password</label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="ConfirmPassword" class="form-control" name="confirmpassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <a class="btn btn-danger" asp-action="Dashboard">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}