@model SaaS_RMS.Models.Entities.Vendor.CompanyVendor

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .pad {
        padding-top: 20px;
    }

    .morepadding {
        padding-top: 20px;
    }

    .back {
        background-color: black
    }
</style>

<div class="morepadding">
    <form asp-action="Register" class="form-horizontal form-label-left back">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container contact_container">

            <div class="row">
                <div class=" col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr />
                    <h2><strong>REGISTER AS A VENDOR</strong></h2>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    @if (ViewData["doublename"] != null && Convert.ToString(ViewData["doublename"]) != " ")
                    {
                        <h5 style="padding-left:1em;" class="text-danger">@ViewData["doublename"]</h5>
                    }
                    <input asp-for="Name" id="input_name" class="form-control form_input input_message input_ph" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="OfficeNumber" id="input_OfficeNumber" class="form-control form_input input_message input_ph" placeholder="Office Number" />
                    <span asp-validation-for="OfficeNumber" class="text-danger "></span>
                </div>
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="ContactNumber" id="input_ContactNumber" class="form-control form_input input_message input_ph" placeholder="Contact Number" />
                    <span asp-validation-for="ContactNumber" class="text-danger "></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 form-group">
                    <textarea asp-for="Address" id="input_motto" class="form-control form_input input_message input_ph" placeholder="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-ms-12 ">
                    <textarea asp-for="VendorItem" id="input_Cnumber" class="form-control form_input input_message input_ph" placeholder="What do you offer?"></textarea>
                    <span asp-validation-for="VendorItem" class="text-danger "></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="Password" id="input_ContactNumber" class="form-control form_input input_message input_ph" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger "></span>
                </div>
                <div class="col-md-6 col-ms-6 ">
                    <input asp-for="ConfirmPassword" id="input_ContactNumber" class="form-control form_input input_message input_ph" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger "></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-ms-12 form-group">
                    <input type="submit" value="Register" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
