@model SaaS_RMS.Models.Entities.Inventory.ProductDetail
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3><strong> ADD A PRODUCT DETAIL </strong></h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductDetailId" />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label class="control-label">Category</label>
                            </div>
                            <div class="col-md-10">
                                <select class="form-control" asp-items="ViewBag.Category" id="category"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label class="control-label"> Product</label>
                            </div>
                            <div class="col-md-10">
                                <select asp-for="ProductId" id="product" class="form-control "></select>
                                <span asp-validation-for="ProductId" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label class="control-label col-md-2">Vendor</label>
                            </div>
                            <div class="col-md-10">
                                <select asp-items="ViewBag.VendorId" asp-for="VendorId" class="form-control "></select>
                                <span asp-validation-for="VendorId" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label class="control-label col-md-2" asp-for="Amount"></label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="Amount" class="form-control " />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="control-label col-md-2">
                                <label class="control-label col-md-2" asp-for="Meaurement"></label>
                            </div>
                            <div class="col-md-10">
                                <input asp-for="Meaurement" class="form-control " />
                                <span asp-validation-for="Meaurement" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row pull-right">
                            <div class="col-md-12">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a class="btn btn-danger" asp-action="Index">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Landing/js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#category').val() != '') {
                getProducts();
            }

            $('#category').on('input', function () {
                getProducts();
            });



            function getProducts() {
                $('#product').children("option").remove();
                $.ajax({
                    type: 'GET',
                    url: '/ProductDetails/GetProductsForCategory',
                    dataType: 'json',
                    data: { id: $('#category').val() },
                    success: function (product) {
                        console.log(product);
                        $.each(product, function (i, product) {
                            $('#product').append('<option value="' + product.productId + '">' + product.name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Failed to retrieve lga.' + error);
                    }
                });
            }
        });
    </script>
}
